@model HomeViewModel

<partial name="_Carousel" />


<h2>Offers of the week</h2>
<h4>Our weekly selection - just for you!</h4>

<div class="row">

    @foreach (var guitar in Model.OffersOfTheWeek)
    {
        <partial name="_GuitarCard" model="guitar" />
    }

</div>